{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}{% endblock title %}
{% block head %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<!-- Service 9 - Bootstrap Brain Component -->
<section class="bg-light py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 ">
                <h2 class="mb-4 display-5 text-center">
                    {{club.name}}
                </h2>
                <p class="text-secondary mb-5 text-center lead fs-4">
                    {{club.description|truncatewords:30}}
                </p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <div class="row gy-3 gy-md-4">
                        {% for item in discussions %}
                        <div class="col-12">
                            <div class="card border-dark">
                                <div class="card-body p-4 p-xxl-5">

                                    <div class="d-flex gap-5 justify-content-between align-items-center">
                                        <h3 class="mb-1">
                                            <div>{{item.name}}</div>
                                        </h3>
                                        <a href="{% url 'detail_discussion' item.id %}"
                                            class="btn btn-outline-primary bsb-btn-circle">
                                            View Discussion <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>
                                    <p class="text-secondary mb-4">{{item.description|truncatewords:30}}</p>
                                    <div class="d-flex gap-2 justify-content-start align-items-center">
                                        {% if item.author == user %}
                                        <a href="{% url 'edit_discussion' item.id %}"
                                            class="btn btn-outline-success bsb-btn-circle btn-sm">
                                            <i class="bi bi-pencil"></i>
                                        </a>
                                        <a href="{% url 'remove_discussion' item.id %}"
                                            class="btn btn-outline-danger bsb-btn-circle btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for topic in topics %}
                                    {% if topic.discussion == item %}
                                    <li class="list-group-item">
                                        <div class="d-flex justify-content-between align-items-center py-3">
                                            <div class="d-flex gap-3 justify-content-between align-items-center w-100 ">
                                                <div class="">
                                                    <i class="bi bi-chat-left-text text-primary"></i>
                                                    <a href="{% url 'detail_topic' item.id %}" class="text-dark">
                                                        <span class="ms-1">{{topic.name}}</span>
                                                    </a>
                                                </div>
                                                <a href="{% url 'detail_topic' item.id %}" class="text-dark">
                                                    <i class="bi bi-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="card-footer">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="me-3">
                                            <img src="{{club.leader.leaderprofile.image.url}}" alt="avatar"
                                                class="avatar avatar-sm rounded-circle" style="width: 40px;">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <span class="text-dark">{{item.author}}</span>
                                            <span class="text-secondary">{{item.created_at|naturaltime}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-12 ">
                            <div class="card border-dark">
                                <div class="card-body p-4 p-xxl-5">
                                    <div class="d-flex gap-5 justify-content-between align-items-center">
                                        <h4 class="mb-4">
                                            <a href="{% url 'create_discussion' club.id %}" class="text-dark">
                                                New Discussion
                                            </a>
                                        </h4>
                                        <i class="bi bi-plus-circle text-primary mb-4 display-5"></i>
                                    </div>
                                    <p class="mb-4 text-secondary">
                                        Create a new discussion for your club.
                                    </p>
                                    <a href="{% url 'create_discussion' club.id %}"
                                        class="btn btn-success bsb-btn-circle">
                                        Create <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}{% endblock %}