{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}{% endblock title %}
{% block head %}{% endblock %}
{% block css %}{% endblock %}
{% block content %}
<section class="contact-section section-padding bg-dark " id="section_6">
    <div class="container">
        <div class="row">
            <div class="py-5"></div>
            <div class="col-lg-8 col-12 mx-auto">
                <h2 class="text-center mb-4 text-light">Edit your profile</h2>

                <nav class="d-flex justify-content-center">

                  

                </nav>

                <div class="tab-content shadow-lg mt-5" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-ContactForm" role="tabpanel"
                        aria-labelledby="nav-ContactForm-tab">
                        <form class="custom-form contact-form mb-5 mb-lg-0" method="post" role="form" enctype="multipart/form-data">
                            <div class="contact-form-body">
                                {% csrf_token %}
                                {{form|crispy}}
                                <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                    <button type="submit" class="form-control">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="py-5"></div>
            
        </div>
    </div>
</section>
{% endblock %}
{% block js %}{% endblock %}